language: ruby
rvm:
- 2.5.3
before_install:
- gem install bundler
addons:
  postgresql: '9.4'
script:
- bundle exec rails db:{create,migrate} RAILS_ENV=test
- bundle exec rspec
deploy:
  provider: heroku
  api_key:
    secure: yiTTlyHsBOfhPtHYAfZ3GJ7a7JK7R4YaUX9NJbA8Lp2JJnW3BTZFeKQgUCCoX0mdTIc8MM3tAImUu6VBNYgZeWIRWP7J4rV3qV2VsdvOW2AXrq6fSUBsKsUXue6lr/SdQnrl3oV5o7TEOCuy7sJMfXRyu8W3uptYIzIYVWlshMtKQctlmUHsb/4riAshSvQXful6sDUEWwkuTxuH5ANBJkJEDYdIE2A/usO/fwma5SkYY1UxOLTm/2ZJPXM1PoPR6ux8x4iQlcivFpYyD7pjxfes/TqLetpkiKdjDucRICkfAFuD2Dim9dWVGAV1NONq4zC3IlX7MYE/ooXdRWR8VcQagpgSJbp6spmnX7MAgYRCvZjy7iJbRZ3SMqq81cg3vBrTMPWag/MA0zriZ11FLTB5wzxcJylpaOdRatw6wCJq1SW8m9t24NZPstL10LYfEbrKPA0dCcx0iazUix43WO1S2UBDIzEQFdns8WMHmVFK3g7glwgtzYNk44OnOlB+fiBiV3AFRbiEbBkNKUSixWxQqc6lCCFsIPMuV61I7s9hxtBtCL9em9V0NY7BAq6jIGu3fumA/mozveuZyjU37sobxkxc95Eli5G2NENnEUrSwBR11px9Vai4KB9NWTV70ugheadtuy6WgUHOH/i/kP2pBxyfgJY2NjVGZAqtcoQ=
  run:
    - "rake db:migrate"
    - restart
  app: curtis-sweater-weather
  on:
    repo: c-bartell/sweater_weather
    branch: main
  skip_cleanup: 'true'
env:
  global:
  - secure: gBl2N4TR061OppEPvOtOnNfvSpdiXL/SDheWiDfGioYoeMIgmJz9ZtL6mavyCr2vFOtvGqZoPdh/iGidLrqsQPBewMXONaLr0BtBM4FzdUnR1Md1dduowYNGBzAMPu/HbHCj/RTHKdVC2TinCQsY9ZSOfKZPAc8qcHz9KKNsn9GLSFeEVH21y4Jz6zrVVmqy1X+uYbKgqxO2eM9gRQT9mKMdSqr8eGUo4XDFQneSnRTqcbm12Ocd1dMhuIg9T4WbM1eaSjkWkHWH+NgT9NGWItJiOJpQ2SYXM82ChANbgg9GstpeaAdxuQmhsv1Cd9cgAl6yCz+J1Lzpdgl/1ts8+ZOFdCfjq4N2Kdx1kcS7xHo65Ybi2VWdTY4RxmCwHZtUZe3zxVHU3CLnyVMBP/+0FUdKM5rVInEQuMqWVbqPGmlMxPmAZmz3qr1Q+n0OjQx382+dmiUmr6mP8C3U9ZHRt1mKvpjP22wrH5d5sdIw8vxWn6G3CyRQ7h/Ke6IjRek4/lZEXaAAeftmzHK7NqOOMwpoC7w+FlVgMvvtmdu2zwfzmelX4UhfYGlyD4S6zZ21IyLg4EBaINV79eTtApKQtCt/Z8aM4I8DAqPMrwgywDfXFYQg7xFynOZq0CX3HWxYzPpwKJ6ASC2DX8BlEo79jpx44yG5wzi2XdwEuprjSQk=
  - secure: FqqwpY8U6B1aw30NcuZDA+c9RqITsUisyEP3MgTw8opvuDy37FwxiDab7NKTUTOLOON/Cb7l+qQL8fqmLmxpOFp1WvFL6lm+jyTcy519cd+ms+v9Fjynm32ZevJNY/FkOy1hQhxs0pSq0hXKGFOEh1jHraObTaq+TyGLl/1ilMg208fCBvScKrMTU812U/ooqxE5zBv8gsRWai5cdVOkfTv7z00eBLlKyMkX4fu0X8BFwcpsHq6fiyBtSosYiEsVR295mILiDUpgyKI+F36P65UokLVn4NOW0hurECQ/MgKt8pUlqXaGbNTkAf6XMAsadoNbkFdEuJdP0YDcDtMdeE0JwJwjScID4CoDxlTMJE2yj0iGPLcd/Btd0TdIsuXQh8DqZZCjEphr1bAgMDiwSgHi1mW+uGq7wlTOvm2O0sa43NAt2Nca4hfcW4JVQk/639sqd8jv++gv5W2hk/3mKyj0+ZEPej31+5pmm2ZgupmEVtYhsx5XtM1qagQF9K541e6B+rltsgBtZIGuvf792uXBlPN/h6NPwYrATdJ1VdEqfX4oZay34hNDIWJLE1JR503Ka2ksLWZ+WWtenrpjIOKGkYiPl/e/WycsulWCwABoq1lwS1gEEAoEbSXUg26bxgh1sKNWEcLDQWTf6VZQOiIAoWB2A1qWLe6Nl8g+yac=
  - secure: 2hu721daz5ZcrpdKgmzIVc92Xdd5a78DCYctP0ee1YORRcRF89BhrVAloCNDvDMXYwX2tx/DqxYnE8V4LSuAbMNYQTiUzEFj0Spk/eoLqwnIjhtNnM5bmzbdSqRm5jm1As7xxhr8SBdTPHp62n946QEaMrDyMkmhAxt/62E8N+mtOio5dV+pJhVCnmbcOybN8lMwONgHI4FLM5EHiY+dL7h8Jniynk3doArfWctUI+vvi9g7ZeIfUGWJEhLxqEt5UNcOTBZbJLqfr31eOOBt9UsLaAAVodrw4iTZBZcw0xEvV8DQM2JqBL5R0xoJuM+yLJiIOuCZHKiAKZqgmNfuUULp8x6z10qLc0qzdBKau+l8kLT7GudHmzHkuIz5RecX3HsB4Xj/1lonvdqY9oA/5del8DPGILSawot/zPI8G2sKiuTXrBFxe8Wum4gDC0Ux2ACnLI8TwZM34TxqIjI5DGz98aOyVnUEYcwUoReiCk2WEmSNkbmeAAgcQMAG0wIEkKAy/80RuPrV05MNvzoZQDgL0rho9+dxdCKN6brG2iyPnF0IoCL98BOdS5WCmQ1h+vnA7USwDmOXs7KiFNlZiG4SEwouGVd5l1EiRD/NuCqtnGpPcbBLk9FxjVEc1q+ZaoHei7uPPdBhHlosRm40810WTWmh+opgPVcBmQpNN0M=
