---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?content_filter=high&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
      Authorization:
      - Client-ID <IMAGE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"tVvmoERH86g","created_at":"2021-01-11T19:31:10-05:00","updated_at":"2021-01-19T15:24:36-05:00","promoted_at":null,"width":3712,"height":5568,"color":"#738ca6","blur_hash":"LSEfsURjRjkC_NRjWBfQE-WCn$WB","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"man in black and white hoodie standing
        on top of building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1610411084570-b129513aa56e?ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610411084570-b129513aa56e?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610411084570-b129513aa56e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610411084570-b129513aa56e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610411084570-b129513aa56e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/tVvmoERH86g","html":"https://unsplash.com/photos/tVvmoERH86g","download":"https://unsplash.com/photos/tVvmoERH86g/download","download_location":"https://api.unsplash.com/photos/tVvmoERH86g/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"7vaZ99fSB5o","updated_at":"2021-01-19T15:57:12-05:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado, 17 years old.","location":"Denver,
        Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":15,"total_likes":21,"total_photos":198,"accepted_tos":true},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D7500","exposure_time":"1/2500","aperture":"1.4","focal_length":"50.0","iso":50},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":1697,"downloads":85}'
  recorded_at: Tue, 19 Jan 2021 22:44:12 GMT
recorded_with: VCR 6.0.0
