---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
      Authorization:
      - Client-ID <IMAGE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"4r5p0CloTmk","created_at":"2021-01-09T07:26:01-05:00","updated_at":"2021-01-18T18:17:23-05:00","promoted_at":"2021-01-09T11:06:01-05:00","width":4000,"height":6000,"color":"#f3f3f3","blur_hash":"L=L;8CkCR*WB_4oLjtaxkXWBayfR","description":null,"alt_description":"brown
        and white short coated dog on brown grass field during daytime","urls":{"raw":"https://images.unsplash.com/photo-1610194982674-1fc2931d90c9?ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610194982674-1fc2931d90c9?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610194982674-1fc2931d90c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610194982674-1fc2931d90c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610194982674-1fc2931d90c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTk4MjV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/4r5p0CloTmk","html":"https://unsplash.com/photos/4r5p0CloTmk","download":"https://unsplash.com/photos/4r5p0CloTmk/download","download_location":"https://api.unsplash.com/photos/4r5p0CloTmk/download"},"categories":[],"likes":31,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"eC8q22VCLm0","updated_at":"2021-01-18T11:59:44-05:00","username":"onmywayhome","name":"Anthony
        Ievlev","first_name":"Anthony","last_name":"Ievlev","twitter_username":null,"portfolio_url":null,"bio":"Simplicity
        of existence","location":null,"links":{"self":"https://api.unsplash.com/users/onmywayhome","html":"https://unsplash.com/@onmywayhome","photos":"https://api.unsplash.com/users/onmywayhome/photos","likes":"https://api.unsplash.com/users/onmywayhome/likes","portfolio":"https://api.unsplash.com/users/onmywayhome/portfolio","following":"https://api.unsplash.com/users/onmywayhome/following","followers":"https://api.unsplash.com/users/onmywayhome/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1589474856846-993e9411c5edimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1589474856846-993e9411c5edimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1589474856846-993e9411c5edimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"onmyway.home","total_collections":5,"total_likes":100,"total_photos":97,"accepted_tos":true},"exif":{"make":"SONY","model":"ILCE-7","exposure_time":"1/1000","aperture":null,"focal_length":null,"iso":200},"location":{"title":null,"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":110106,"downloads":740}'
  recorded_at: Tue, 19 Jan 2021 22:17:32 GMT
recorded_with: VCR 6.0.0
