---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=38.265427&lon=-104.610413&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611133296,"sunrise":1611151889,"sunset":1611187638,"temp":19.4,"feels_like":9.52,"pressure":1024,"humidity":86,"dew_point":16.29,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":260,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611133200,"temp":19.4,"feels_like":11.93,"pressure":1024,"humidity":86,"dew_point":16.29,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.76,"wind_deg":223,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611136800,"temp":24.75,"feels_like":16.93,"pressure":1025,"humidity":86,"dew_point":21.56,"uvi":0,"clouds":13,"visibility":10000,"wind_speed":5.21,"wind_deg":297,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1611140400,"temp":28.54,"feels_like":20.03,"pressure":1025,"humidity":84,"dew_point":24.82,"uvi":0,"clouds":32,"visibility":10000,"wind_speed":7.02,"wind_deg":283,"weather":[{"id":802,"main":"Clouds","description":"scattered
 [...]
